In [4]:
""" Analysis of all the entities with a free entry or ticket cost to pay"""
from rdflib import Graph
import csv
import pandas as pd
from IPython.display import display

# Load the  datastet luoghi della cultura RDF file
rdf_file =  r"C:\Users\HWRUser\Desktop\DHDK Course\Information Visualization\Data_Italian_publishers\dataset_luoghi_cultura.rdf"
g = Graph()
g.parse(rdf_file, format="xml") 



#		Exploratory query for defining entities and if they have a ticket cost/entry price or if they are free 
query_1 = """
PREFIX rdf: <http://www.w3.org/1999/02/22-rdf-syntax-ns#>
PREFIX rdfs: <http://www.w3.org/2000/01/rdf-schema#>
PREFIX cis: <http://dati.beniculturali.it/cis/>
PREFIX dc: <http://purl.org/dc/elements/1.1/>
PREFIX clvapit: <https://w3id.org/italia/onto/CLV/>
PREFIX potapit: <https://w3id.org/italia/onto/POT/>


SELECT ?Entity ?EntryPrice
WHERE {
  ?Entity rdf:type potapit:PriceSpecification.
  ?Entity potapit:hasCurrencyValue ?EntryPrice.

}
"""

# Perform the query
results = g.query(query_1)


#Dataframe for All Entities and the Ticket Prices or Free Entry 
data_Prices = []
for row in results:
    data_Prices.append({'Entity_ID': str(row['Entity']), 'Entry_Price': str(row['EntryPrice'])})
df_Ticket_Free_Entry_Prices = pd.DataFrame(data_Prices)

#Datarames dividing entities with free entry and entities with a ticket cost
df_free_entry = df_Ticket_Free_Entry_Prices[df_Ticket_Free_Entry_Prices['Entry_Price'].str.contains('Gratuito', case=False, na=False)]
df_free_entry = df_free_entry.reset_index(drop=True)
df_ticket_cost = df_Ticket_Free_Entry_Prices[df_Ticket_Free_Entry_Prices['Entry_Price'].str.match(r'^\d+(,\d+)?(\.\d+)?$', na=False)]
df_ticket_cost = df_ticket_cost.reset_index(drop=True)

#Displaying dataframes of entities with a ticket cost or a free entry all toghether and separated dataframes for entities with ticket cost and free entry
display(df_Ticket_Free_Entry_Prices)
display(df_free_entry)
display(df_ticket_cost)


# #CSV files from all Dataframes Entities with their Ticket Cost/Entry Price
csv_Entities_Ticket_Entry_Prices = "Entities_Ticket_Prices_Free_Entry.csv"
df_Ticket_Free_Entry_Prices.to_csv(csv_Entities_Ticket_Entry_Prices, index=False, encoding='utf-8')
print(f"Results have been written to {csv_Entities_Ticket_Entry_Prices}")

csv_Entities_Free_Entry = "Entities_Free_Entry.csv"
df_free_entry.to_csv(csv_Entities_Free_Entry, index=False, encoding='utf-8')
print(f"Results have been written to {csv_Entities_Free_Entry}")

csv_Entities_Ticket_Cost = "Entities_Ticket_Cost.csv"
df_ticket_cost.to_csv(csv_Entities_Ticket_Cost, index=False, encoding='utf-8')
print(f"Results have been written to {csv_Entities_Ticket_Cost}")

                                              Entity_ID Entry_Price
0     http://dati.beniculturali.it/mibact/luoghi/res...    Gratuito
1     http://dati.beniculturali.it/mibact/luoghi/res...    Gratuito
2     http://dati.beniculturali.it/mibact/luoghi/res...         4.0
3     http://dati.beniculturali.it/mibact/luoghi/res...        3,50
4     http://dati.beniculturali.it/mibact/luoghi/res...    Gratuito
...                                                 ...         ...
5072  http://dati.beniculturali.it/mibact/luoghi/res...        5,00
5073  http://dati.beniculturali.it/mibact/luoghi/res...    Gratuito
5074  http://dati.beniculturali.it/mibact/luoghi/res...    Gratuito
5075  http://dati.beniculturali.it/mibact/luoghi/res...        5,00
5076  http://dati.beniculturali.it/mibact/luoghi/res...        5,00

[5077 rows x 2 columns]

                                              Entity_ID Entry_Price
0     http://dati.beniculturali.it/mibact/luoghi/res...    Gratuito
1     http://dati.beniculturali.it/mibact/luoghi/res...    Gratuito
2     http://dati.beniculturali.it/mibact/luoghi/res...    Gratuito
3     http://dati.beniculturali.it/mibact/luoghi/res...    Gratuito
4     http://dati.beniculturali.it/mibact/luoghi/res...    Gratuito
...                                                 ...         ...
2161  http://dati.beniculturali.it/mibact/luoghi/res...    Gratuito
2162  http://dati.beniculturali.it/mibact/luoghi/res...    Gratuito
2163  http://dati.beniculturali.it/mibact/luoghi/res...    Gratuito
2164  http://dati.beniculturali.it/mibact/luoghi/res...    Gratuito
2165  http://dati.beniculturali.it/mibact/luoghi/res...    Gratuito

[2166 rows x 2 columns]

                                              Entity_ID Entry_Price
0     http://dati.beniculturali.it/mibact/luoghi/res...         4.0
1     http://dati.beniculturali.it/mibact/luoghi/res...        3,50
2     http://dati.beniculturali.it/mibact/luoghi/res...        3,00
3     http://dati.beniculturali.it/mibact/luoghi/res...        4,00
4     http://dati.beniculturali.it/mibact/luoghi/res...        6,00
...                                                 ...         ...
2906  http://dati.beniculturali.it/mibact/luoghi/res...        5,00
2907  http://dati.beniculturali.it/mibact/luoghi/res...        5,00
2908  http://dati.beniculturali.it/mibact/luoghi/res...        5,00
2909  http://dati.beniculturali.it/mibact/luoghi/res...        5,00
2910  http://dati.beniculturali.it/mibact/luoghi/res...        5,00

[2911 rows x 2 columns]

Results have been written to Entities_Ticket_Prices_Free_Entry.csv
Results have been written to Entities_Free_Entry.csv
Results have been written to Entities_Ticket_Cost.csv